#app{
   background: rgb(0,168,132);
   background: linear-gradient(0deg,  rgb(236, 229, 221) 85% ,  rgb(	18, 140, 126) 10%);
   padding: 2% 0;  
}

#general-container{
   height: 100%;
   width: 80%;
   margin: 0 auto;
   border-radius: 10px;
   border: 1px solid lightgray;
   -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41); 
   box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.41);
}

#left-section{
   width: 33%;
   height: 100%;
   background-color: white;
   border-radius: 10px 0 0 10px;
}

#user{
   width: 100%;
   height: 8%;
   background-color: #EAEAEA;
   border-radius: 10px 0 0 0;
   border-right: 1px solid lightgray;
}

#enable-notification{
   width: 100%;
   height: 9%;
   background-color: #74DCFF;
}

#search-bar{
   width: 100%;
   height: 6%;
   background-color: #FAFAFA;
}

#contacts-list{
   height: 77%;
   width: 100%;
}

#right-section{
   width: 67%;
   height: 100%;
   background-color: white;
   border-radius: 0 10px 10px 0;
}

#contact-container{
   width: 100%;
   height: 8%;
   background-color: #EAEAEA;
   border-radius: 0 10px 0 0;
}

#chat-container{
   height: 84%;
   background-image: url(../img/mine.jpg);
}

#chat-input-container{
   width: 100%;
   height: 8%;
   background-color: #F4EEEA;
   border-radius: 0 0 10px 0;
   border-left: 1px solid lightgray;
}

.profile-image{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin-right: 5px;
   cursor: pointer;
   -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35); 
   box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35);
}

.form-control-chat{
   -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35); 
   box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35);
}

.user-icons, .fa-magnifying-glass{
   color: #999999;
   cursor: pointer;
}

.fa-bell-slash{
   color: #74DCFF;
}

.fs-7{
   font-size: 0.7rem;
}

.fs-8{
   font-size: 0.8rem;
}

.fs-xxs{
   font-size: 0.6rem;
}

.activate-notification{
   color: #667487;
   cursor: pointer;
}

.search-group{
   border: 0.5px solid lightgray;
   border-radius: 5px;
}

.contact-container{
   height: 11%;
   border-top: 1px solid #F9F9F9;
   cursor: pointer;
}

.contact-container:hover{
   background-color: #F9F9F9;
}

.date-last-mex{
   right: 20px;
}

.sentMex{
   background-color: #CCFAB3;
   max-width: 350px;
   padding: 6px 0;
   cursor: pointer;
   -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35); 
   box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35);
}

.recievedMex{
   background-color: #FFFFFF;
   max-width: 350px;
   padding: 6px 0;
   cursor: pointer;
   -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35); 
   box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.35);
}

.logo{
   width: 50%;
   margin: 0 auto;
}

.arrow-down{
   top: -5px;
   right: 5px;
   display: none;
}

.sentMex:hover .arrow-down{
   display: inline-block;
}

.recievedMex:hover .arrow-down{
   display: inline-block;
}