#app{
   background: rgb(0,168,132);
   background: linear-gradient(0deg,  rgb(236, 229, 221) 85% ,  rgb(	18, 140, 126) 10%);
   padding: 2% 0;   
}

#general-container{
   height: 100%;
   width: 80%;
   margin: 0 auto;
   border-radius: 10px;
}

#left-section{
   width: 33%;
   height: 100%;
   background-color: white;
   border-radius: 10px 0 0 10px;
}

#user{
   width: 100%;
   height: 8%;
   background-color: #EAEAEA;
   border-radius: 10px 0 0 0;
   border-right: 1px solid lightgray;
}

#enable-notification{
   width: 100%;
   height: 9%;
   background-color: #74DCFF;
}

#search-bar{
   width: 100%;
   height: 5%;
   background-color: #FAFAFA;
}

#contacts-list{
   height: 78%;
   width: 100%;
}

#right-section{
   width: 67%;
   height: 100%;
   background-color: white;
   border-radius: 0 10px 10px 0;
}

#contact-container{
   width: 100%;
   height: 8%;
   background-color: #EAEAEA;
   border-radius: 0 10px 0 0;
}

#chat-container{
   height: 84%;
   background-image: url(../img/mine.jpg);
}

#chat-input-container{
   width: 100%;
   height: 8%;
   background-color: #F4EEEA;
   border-radius: 0 0 10px 0;
   border-left: 1px solid lightgray;
}

.profile-image{
   width: 45px;
   height: 45px;
   border-radius: 50%;
   cursor: pointer;
}

.user-icons, .fa-magnifying-glass{
   color: #999999;
   cursor: pointer;
}

.fa-bell-slash{
   color: #74DCFF;
}

.fs-7{
   font-size: 0.7rem;
}

.fs-8{
   font-size: 0.8rem;
}

.fs-xxs{
   font-size: 0.6rem;
}

.activate-notification{
   color: #667487;
   cursor: pointer;
}

.search-group{
   border: 0.5px solid lightgray;
   border-radius: 5px;
}

.contact-container{
   height: 10%;
   border-top: 1px solid #F9F9F9;
   cursor: pointer;
}

.contact-container:hover{
   background-color: #F9F9F9;
}

.date-last-mex{
   right: 20px;
}